.frame{
    background-color:gainsboro;
} 
input{  
width: 18px;  
height: 15px;
background-color: white;  
color: black;  
border: 3px solid gray;  
    border-radius: 30px;  
    padding: 26px;  
    margin: 5px;  
    font-size: 15px; 
}  

#calc{  
width: 250px;  
border: 2px solid gray;  
    border-radius: 7px;  
    padding: 20px;  
    margin: auto;  
}  
.r0,.r1,.r2,.r3,.r4{
    display: inline-block;
}
.frame{
    padding-left: 37%;
}
.content{
    padding: 20px;
    background-color: black;
    max-width: 42%;
    border-radius: 15px;
}